include README.md
include LICENSE

# Package non-Python files
recursive-include crawlo/templates *
recursive-include crawlo/utils/js *

# Example projects
recursive-include examples *

# Exclusions
global-exclude __pycache__ *.py[cod] *.so
global-exclude .DS_Store *.bak *.swp *.orig *.rej