# -*- coding: UTF-8 -*-
"""
{{project_name}} 项目配置文件（简化版）
适合快速开始和简单项目。
"""

from datetime import datetime


# #############################################################################
# 1. 基础配置
# #############################################################################

PROJECT_NAME = '{{project_name}}'
RUN_MODE = 'standalone'
CONCURRENCY = 4
MAX_RUNNING_SPIDERS = 1
DOWNLOAD_DELAY = 1.0


# #############################################################################
# 2. 核心组件
# #############################################################################

DOWNLOADER = 'crawlo.downloader.AioHttpDownloader'
QUEUE_TYPE = 'memory'
FILTER_CLASS = 'crawlo.filters.MemoryFilter'
DEFAULT_DEDUP_PIPELINE = 'crawlo.pipelines.MemoryDedupPipeline'


# #############################################################################
# 3. 爬虫配置
# #############################################################################

SPIDER_MODULES = ['{{project_name}}.spiders']

# PIPELINES = {
#     '{{project_name}}.pipelines.CustomPipeline': 600,
# }


# #############################################################################
# 4. 日志配置
# #############################################################################

LOG_LEVEL = 'INFO'
LOG_FILE = f'logs/{{project_name}}_{datetime.now():%Y%m%d_%H%M%S}.log'
LOG_ENCODING = 'utf-8'


# #############################################################################
# 5. 数据库配置
# #############################################################################

# Redis
REDIS_HOST = '127.0.0.1'                                # Redis 主机地址
REDIS_PORT = 6379                                       # Redis 端口
REDIS_PASSWORD = ''                                     # Redis 密码
REDIS_USER = ''                                         # Redis 用户名（Redis 6.0+ ACL）
REDIS_DB = 0                                            # Redis 数据库编号

# MySQL
MYSQL_HOST = '127.0.0.1'
MYSQL_PORT = 3306
MYSQL_USER = 'root'
MYSQL_PASSWORD = '123456'
MYSQL_DB = '{{project_name}}'
MYSQL_TABLE = '{{project_name}}_data'
MYSQL_BATCH_SIZE = 100
MYSQL_USE_BATCH = False


# #############################################################################
# 6. 下载器与网络配置
# #############################################################################

# Curl-Cffi 指纹模拟
CURL_BROWSER_TYPE = "chrome"
CURL_BROWSER_VERSION_MAP = {
    "chrome": "chrome136",
    "edge": "edge101",
    "safari": "safari184",
    "firefox": "firefox135",
}

# 健康检查
HEALTH_CHECK_INTERVAL = 60

# 代理
PROXY_ENABLED = False
PROXY_LIST = []
PROXY_API_URL = ""


# #############################################################################
# 7. 定时任务配置
# #############################################################################

SCHEDULER_ENABLED = False

SCHEDULER_JOBS = [
    {
        'spider': 'spider_name_1',
        'cron': '*/5 * * * *',          # 每 5 分钟执行一次
        'enabled': True,
        'priority': 10,
        'max_retries': 3,
        'retry_delay': 60,
        'args': {},
        'kwargs': {},
    },
    {
        'spider': 'spider_name_2',
        'cron': '0 2 * * *',            # 每天凌晨 2 点
        'enabled': True,
        'priority': 20,
        'max_retries': 2,
        'retry_delay': 120,
        'args': {'daily': True},
        'kwargs': {},
    },
]


# #############################################################################
# 8. 输出配置
# #############################################################################

OUTPUT_DIR = 'output'
