# -*- coding: UTF-8 -*-
"""
{{project_name}} 项目配置文件（最小版）
仅包含最基本和常用的配置项。
"""


from datetime import datetime


# #############################################################################
# 1. 基础配置
# #############################################################################

PROJECT_NAME = '{{project_name}}'
RUN_MODE = 'standalone'
CONCURRENCY = 4
MAX_RUNNING_SPIDERS = 1
DOWNLOAD_DELAY = 1.0


# #############################################################################
# 2. 核心组件
# #############################################################################

DOWNLOADER = 'crawlo.downloader.AioHttpDownloader'
QUEUE_TYPE = 'memory'
FILTER_CLASS = 'crawlo.filters.MemoryFilter'
DEFAULT_DEDUP_PIPELINE = 'crawlo.pipelines.MemoryDedupPipeline'


# #############################################################################
# 3. 爬虫配置
# #############################################################################

SPIDER_MODULES = ['{{project_name}}.spiders']

# PIPELINES = {
#     '{{project_name}}.pipelines.CustomPipeline': 600,
# }


# #############################################################################
# 4. 日志配置
# #############################################################################

LOG_LEVEL = 'INFO'
LOG_FILE = f'logs/{{project_name}}_{datetime.now():%Y%m%d_%H%M%S}.log'
LOG_ENCODING = 'utf-8'


# #############################################################################
# 5. 数据库配置
# #############################################################################

# MongoDB
# MONGO_URI = 'mongodb://localhost:27017'
# MONGO_DATABASE = '{{project_name}}_db'
# MONGO_COLLECTION = '{{project_name}}_items'

# MySQL 冲突处理策略（三者互斥，按优先级生效）
MYSQL_UPDATE_COLUMNS = ()
MYSQL_AUTO_UPDATE = False
MYSQL_INSERT_IGNORE = False


# #############################################################################
# 6. 定时任务配置
# #############################################################################

SCHEDULER_ENABLED = False

SCHEDULER_JOBS = [
    {
        'spider': 'spider_name_1',
        'cron': '*/5 * * * *',          # 每 5 分钟执行一次
        'enabled': True,
        'priority': 10,
        'max_retries': 3,
        'retry_delay': 60,
        'args': {},
        'kwargs': {},
    },
    {
        'spider': 'spider_name_2',
        'cron': '0 2 * * *',            # 每天凌晨 2 点
        'enabled': True,
        'priority': 20,
        'max_retries': 2,
        'retry_delay': 120,
        'args': {'daily': True},
        'kwargs': {},
    },
]
